body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  justify-content: center;
  align-items:center;
}
#container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
}
.square {
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 12px;
  outline: none;
  font-size: 24px;
  background-color: lightblue;
  padding: 12px;
  border-color: blue;
}